<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css\style.css') }}" rel="stylesheet">
</head>
<body>

<nav class="navbar">
    <div class="nav-container">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/contact">Contact</a>
    </div>
</nav>

<div class="video-container" id="videoHeader">
    <video autoplay id="headerVideo" loop muted playsinline>
        <source src="{{ url_for('static', filename='media/earth.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="video-overlay"></div>
</div>

<main>

    <div class="content-container">
        <h1>Denes Kosztyuk</h1>
        <h2>Computer Systems & Robotics Engineer</h2>
        <p>Welcome to my professional portfolio website.</p>
    </div>

    <a class="projects-card" href="projects.html">
        <div class="card-content">
            <h3>My Projects</h3>
            <p>Check out my past works and contributions.</p>
            <!-- You can add an image here if you want -->
            <!-- <img src="path_to_image" alt="Projects"> -->
        </div>
    </a>
    <div class="w3-card-4">
        <header class="w3-container w3-blue">
            <h1>Header</h1>
        </header>
        <div class="w3-container">
            <p>Lorem ipsum...</p>
        </div>
    </div>
</main>

<footer>
    <p>
        <a href="https://www.linkedin.com/in/denes-kosztyuk-766889198/" target="_blank">LinkedIn</a> |
        <a href="https://github.com/deneskosztyuk" target="_blank">GitHub</a> |
        <a href="https://leetcode.com/nislaav/" target="_blank">LeetCode</a>
    </p>
</footer>
<script src="{{ url_for('static', filename='js\main.js') }}"></script>
</body>
</html>
